body{
    background-color: aquamarine;
}

h1{
    font-size: xx-large;
    color: brown;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

h2{
    font-size: xx-large;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

h3{
    font-size: xx-large;
    background-color: gold;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}